*{
   margin: 0%;
   padding: 0%;
}
nav{
    display: flex;
    justify-content:space-around;
    padding-top: 10px;
    align-items:baseline;
}
.navlsit{
    margin-left: 150px;
    display: flex;
    gap: 20px;
}
li{
    text-decoration: none;
    list-style: none;
}
li:hover{
    text-decoration: underline rgb(255, 0, 200) 2px;
}

.Heroimgtxt{
    position:relative;
     bottom: 150px;
     left: 100px;
     font-size: 30px;
     font-weight:bolder;
     color: white;
    
}
.herotxt{
    margin-left: 50px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    text-shadow: 1px 1px 1px;
}

.Onecard{
    display: flex;
    justify-content:space-around;
}
.Twocard{
    display: flex;
    justify-content: space-around;
}
.Thirdcard{
    display: flex;
    justify-content:space-around;
}
.join-btn {
        background-color: #ff2f7d;   /* pink color */
        color: #ffffff;
        border: none;
        padding: 14px 36px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 50px;        /* pill shape */
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 8px 20px rgba(255, 47, 125, 0.35);
    }

    .join-btn:hover {
        background-color: #e0266d;
        transform: translateY(-2px);
        box-shadow: 0 12px 25px rgba(255, 47, 125, 0.45);
    }
.scroll-wrapper {
  overflow: hidden;
}

.scroll-content {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.Main-footer{
    display: flex;
    justify-content: space-around;
}
